@{
    ViewData["Title"] = "Database Testing";
}

<div class="text-center">
    <h1 class="display-4">Interview Analytics</h1>
    <p>This is where we will put statistics about interview sets, questions, and responses (frequently used questions, common key words, number of custom questions per session, etc.</p>
</div>
