@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="snapshot-bar">                                     <!--The container for the whole dang thing-->

    <div class="custom-date-range">                         <!--Container for the date search fields-->

        <span>Filter by Date:</span>
        <label for="from-date"></label>                     <!--What will be populated in the from-date field initially-->
        <input type="date" id="from-date" name="from-date"> <!--Input field for "From Date"-->
        <span>to</span>
        <label for="to-date"></label>                       <!--What will be populated in the to-date field initially-->
        <input type="date" id="to-date" name="to-date">     <!--input field for "To Date"-->
    </div>

    <!-- Square 1-->
    <div class="square">                                    <!--The container for each white square-->
        <div class="top-text">Top Text 1</div>              <!--The top text in this white square-->
        <div class="bottom-text">Bottom Text 1</div>        <!--The bottom text in this white square-->
    </div>

    <!--Square 2-->
    <div class="square">
        <div class="top-text">Top Text 2</div>
        <div class="bottom-text">Bottom Text 2</div>
    </div>

    <!-- Square 3-->
    <div class="square">
        <div class="top-text">Top Text 3</div>
        <div class="bottom-text">Bottom Text 3</div>
    </div>

    <!--Square 4-->
    <div class="square">
        <div class="top-text">Top Text 4</div>
        <div class="bottom-text">Bottom Text 4</div>
    </div>

    <!--Square 5-->
    <div class="square">
        <div class="top-text">Top Text 5</div>
        <div class="bottom-text">Bottom Text 5</div>
    </div>

    <!--Square 6-->
    <div class="square">
        <div class="top-text">Top Text 6</div>
        <div class="bottom-text">Bottom Text 6</div>
    </div>

</div>
