@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<div style="height: 100%">
    <div class="snapshot-placeholder card my-3">
        <div class="card-body">
            
        </div>

    </div>
    <div class="row content-lower-half my-3">
        <div class="col-md-6 lower-half-content-left-side">
               <div id="active-info" class="row">
                   <div class="col-sm-6">
                   <div class="activeUsers, card">
                       <div class="card-body">
                           <p class="my-1 text-center">Active Users: <span style="font-weight: bold; font-size: large">27</span>/80</p>
                       </div>
                   </div>
                </div>
                <div class="col-sm-6">
                    <div class="card activeSessions">
                    <div class="card-body">
                            <p class="my-1 text-center">Active Sessions: <span style="font-weight: bold; font-size: large">18</span></p>
                       </div>
                    </div>
                   </div>
               </div>

               <div id="recent-sessions" class="card my-3">
                   <div class="card-body p-4 d-flex flex-column">
                       <div class="d-flex justify-content-between pe-4">
                           <p class="fw-bold fs-5">Recent Sessions</p>
                           <p>View All</p>
                       </div>
                       
                       <div class="flex-fill d-flex">
                       <table class="table table-hover table-borderless flex-fill mb-0">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Completed</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
                                <td scope="row">Fergy Thomas</td>
                                <td>05/29/2023 09:45 AM</td>
                                <td>10m 23s</td>
    </tr>
    <tr>
                                <td scope="row">Samantha Patel</td>
                                <td>05/29/2023 09:34 AM</td>
                                <td>15m 35s</td>
    </tr>
    <tr>
      <td scope="row">Olivia Miller</td>
                                <td>05/29/2023 09:18 AM</td>
                                <td>19m 10s</td>
    </tr>
                            <tr>
                                <td scope="row">Ethan Kim</td>
                                <td>05/29/2023 09:12 AM</td>
                                <td>23m 42s</td>
                            </tr>
                            <tr>
                                <td scope="row">Alexander Lee</td>
                                <td>05/29/2023 09:09 AM</td>
                                <td>9m 28s</td>
                            </tr>
  </tbody>
</table>
</div>
                       

                   </div>
               </div>
        </div>
        <div class="col-md-6 lower-half-content-right-side">
            <div class="card" id="top-questions">
            <div class="card-body">

            </div>
            </div>
        </div>
    </div>
</div>

