@{
    ViewData["Title"] = "User Analytics";
}

<div class="text-center">
    <h1 class="display-4">User Analytics</h1>
    <p>This is where we will display information about user frequency, session frequency, new users, unique users, etc.</p>
</div>
