@{
    ViewData["Title"] = "Demographics Analytics";
}

<div class="text-center">
    <h1 class="display-4">Demographics</h1>
    <p>This is where we will display statistics about the user base, location, age, job experience, job fiels, education level, etc.</p>
</div>
