@{
    ViewData["Title"] = "Users";
    Layout = "_Layout";
}

<div style="height: 100%">

    <!-- Snapshot Bar -->
    <div id="snapshot-bar" class="card rounded p-3" style="background-color: #DFECF0;">
        <div class="row mb-3">
            <div class="col-auto">
                <span>Filter by Date:</span>
            </div>
            <div class="col-auto">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">From Date</span>
                    </div>
                    <input type="date" class="form-control" id="from-date" name="from-date">
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">To Date</span>
                    </div>
                    <input type="date" class="form-control" id="to-date" name="to-date">
                </div>
            </div>
            <div class="col-auto">
                <button id="filter" type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
                <div class="card square bg-white rounded p-3 d-flex flex-column align-items-center">
                    <div class="top-text align-self-center">Top Text 1</div>
                    <div class="bottom-text align-self-center">Bottom Text 1</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
                <div class="card square bg-white rounded p-3 d-flex flex-column align-items-center">
                    <div class="top-text align-self-center">Top Text 2</div>
                    <div class="bottom-text align-self-center">Bottom Text 2</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
                <div class="card square bg-white rounded p-3 d-flex flex-column align-items-center">
                    <div class="top-text align-self-center">Top Text 3</div>
                    <div class="bottom-text align-self-center">Bottom Text 3</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
                <div class="card square bg-white rounded p-3 d-flex flex-column align-items-center">
                    <div class="top-text align-self-center">Top Text 4</div>
                    <div class="bottom-text align-self-center">Bottom Text 4</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
                <div class="card square bg-white rounded p-3 d-flex flex-column align-items-center">
                    <div class="top-text align-self-center">Top Text 5</div>
                    <div class="bottom-text align-self-center">Bottom Text 5</div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
                <div class="card square bg-white rounded p-3 d-flex flex-column align-items-center">
                    <div class="top-text align-self-center">Top Text 6</div>
                    <div class="bottom-text align-self-center">Bottom Text 6</div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid user-date-filter">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <div class="row mb-3">
                    <div class="col-auto">
                        <span>Filter by Date:</span>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">From Date</span>
                            </div>
                            <input type="date" class="form-control" id="from-date" name="from-date">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">To Date</span>
                            </div>
                            <input type="date" class="form-control" id="to-date" name="to-date">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button id="filter" type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=""


</div>
